@model AzureApp.DescriptionConsumer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DescriptionConsumer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengesFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChallengesFinished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengesCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChallengesCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengesInUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChallengesInUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUserNavigation.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DescriptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
